body {
  font: 16px SchoolBookFont;
}

.tick > line {
	fill: none;
	stroke: black;
}

.tick > text {
	fill: black;
}

.selected {
	stroke: black;
	fill: black;
}

.selected2 {
	stroke: black;
	fill: black;
}

path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}

#wrapper {
  display: grid;
}

#collegeSelector {
	float: left;
	width: 200px;
}

.brush .extent {
	fill-opacity: .1;
	stroke: #fff;
	shape-rendering: crispEdges;
}

@font-face {
	font-family: SchoolBookFont;
	src: url(SchoolBook.ttf);
}

.title h3 {
	font-family: SchoolBookFont;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}