#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

@font-face {
	font-family: SchoolBookFont;
	src: url(SchoolBook.ttf);
}

.title h3 {
	font-family: SchoolBookFont;
    font-size: 70px;
}

circle.hidden {
  fill: #ccc !important;
  fill-opacity: .2;
}

@media screen and (min-width:2300px) {
	.larger-container {
		width:55%;
	}
}
@media screen and (max-width:720px) {
	.container, .larger-container, .smaller-container {
		width: 90%;
	}
}

rect.hidden {
  fill: #ccc !important;
  fill-opacity: .2;
}